.removeLink {
  color: red;
}

.fakeLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.modal-dialog {
  max-width: 50%;
}

.table-sm td, .table-sm th {
  padding: 0.3rem; 
  font-size: 0.8rem; 
}

.compact-table td {
  max-width: 150px; 
  white-space: nowrap;
}

.compact-table th {
  max-width: 150px;
}